/*//////////////////////////////////////////////////////*/
/*//====================----------====================//*/
/*//                    HOME PAGE                     //*/
/*//====================----------====================//*/
/*//////////////////////////////////////////////////////*/

$bio: '.bio';
$portfolio: '.portfolio';

#{$portfolio}--home {
	padding: $sectionPadding;
}

#{$bio}--home {
	#{$bio}__wrapper {
		position: relative;
		z-index: 3;
	}

	#{$bio}__mobileImg {
		display: none;
		width: 100%;
		max-width: 300px;
		margin: 0 auto -2em auto;
		border-radius: $borderRadius;
		box-shadow: $softShadow;
		position: relative;
		z-index: 2;
	}

	#{$bio}__bg,
	#{$bio}__img {
		@include absolute(cover);
	}

	#{$bio}__img {
		width: 100%;
		height: 100%;
		object-fit: cover;
		object-position: right center;
	}

	#{$bio}__box {
		position: relative;
		z-index: 1;
	}

	#{$bio}__content {
		max-width: $narrowWidth;
	}

	#{$bio}__heading {
		@include headingTag(h3);
		@include underlineText();
		margin-top: 0;
		color: map-get($colorScheme, red);
	}

	#{$bio}__btnWrp {
		padding-bottom: 0;
	}
}

/*//////////////////////////////////////////////////////*/
/*//====================----------====================//*/
/*//                  MEDIA QUERIES                   //*/
/*//====================----------====================//*/
/*//////////////////////////////////////////////////////*/

/*==========----------==========*/
/*         1175PX WIDTH         */
/*==========----------==========*/

@media (max-width: 1175px) {
	#{$bio}--home {
		#{$bio}__img {
			object-position: 66% center;
		}
	}
}

/*==========----------==========*/
/*         $tablet WIDTH        */
/*==========----------==========*/

@media (max-width: $tablet) {
	#{$portfolio}--home {
		padding: 4em 1em;
	}

	#{$bio} {
		background: darken(map-get($bgColors, lightBg), 5%);

		#{$bio}__img {
			display: none;
		}

		#{$bio}__content {
			max-width: none;
		}

		#{$bio}__box {
			padding-top: 4em;
			backdrop-filter: none;
			background: map-get($bgColors, lightBg);
		}

		#{$bio}__mobileImg {
			display: block;
		}

		#{$bio}__heading {
			text-align: center;

			&::after {
				margin-left: auto;
				margin-right: auto;
			}
		}

		#{$bio}__btnWrp {
			justify-content: center;
		}
	}
}
