/*//////////////////////////////////////////////////////*/
/*//====================----------====================//*/
/*//                    HOME PAGE                     //*/
/*//====================----------====================//*/
/*//////////////////////////////////////////////////////*/

.home {
	&__title,
	&__subtitle {
		margin: 0;
	}

	&__title {
		font-size: 4em;
	}

	&__titleText,
	&__subtitle {
		@include gradient((map-get($colorScheme, violet), map-get($colorScheme, red)), diagonal-up);
	}

	&__titleText {
		display: block;
		background-clip: text;
		-webkit-background-clip: text;
		color: transparent;
		line-height: 1;
	}

	&__subtitle {
		padding: 1rem 1rem 0.5rem 1rem;
		margin-top: -0.65rem;
		font-weight: $primaryLight;
		font-size: 2rem;
		position: relative;
		z-index: -1;
	}
}

/*==========----------==========*/
/*         BIO SECTION          */
/*==========----------==========*/

.bioHome {
	&__wrapper {
		padding-bottom: 6em;
	}

	&__mobileImgWrp {
		@include decorateImage(-1em);
		display: none;
		width: 100%;
		max-width: 300px;
		margin: 0 auto -2em auto;
		position: relative;
		z-index: 2;
	}

	&__mobileImg {
		border-radius: $borderRadius;
		box-shadow: $softShadow;
		position: relative;
		z-index: 1;
	}

	&__bg {
		@include absolute(center-vertical);
		@include decorateImage();
		width: calc(100% - 8em);
		max-width: 1100px;
		right: 0;
	}

	&__img {
		width: 100%;
		border-radius: $borderRadius;
		position: relative;
		z-index: 1;
	}

	&__box {
		background: bg-color(map-get($bgColors, bodyBg));
		backdrop-filter: none;
	}

	&__content {
		width: 100%;
		max-width: $narrowWidth;
		flex: 1 0 $narrowWidth;
		position: relative;
		z-index: 2;
	}

	&__heading {
		@include headingTag(h3);
		@include underlineText();
		margin-top: 0;
		color: map-get($colorScheme, red);
	}

	&__btnWrp {
		padding-bottom: 0;
	}
}

/*//////////////////////////////////////////////////////*/
/*//====================----------====================//*/
/*//                  MEDIA QUERIES                   //*/
/*//====================----------====================//*/
/*//////////////////////////////////////////////////////*/

/*==========----------==========*/
/*         1175PX WIDTH         */
/*==========----------==========*/

@media (max-width: 1175px) {
	/*=====---- BIO SECTION ----=====*/

	.bioHome {
		&__img {
			object-position: 66% center;
		}
	}
}

/*==========----------==========*/
/*         $tablet WIDTH        */
/*==========----------==========*/

@media (max-width: $tablet) {
	.home {
		&__title {
			font-size: 3.5em;
		}

		&__subtitle {
			font-size: 1.5rem;
		}
	}
	/*=====---- BIO SECTION ----=====*/

	.bioHome {
		background: map-get($bgColors, medBg);

		&__wrapper {
			padding-bottom: 0;
		}

		&__img {
			display: none;
		}

		&__content {
			max-width: none;
		}

		&__box {
			padding-top: 4em;
		}

		&__mobileImgWrp {
			display: block;
		}

		&__heading {
			text-align: center;

			&::after {
				margin-left: auto;
				margin-right: auto;
			}
		}

		&__btnWrp {
			justify-content: center;
		}
	}
}

/*==========----------==========*/
/*         $phone WIDTH         */
/*==========----------==========*/

@media (max-width: $phone) {
	.home {
		&__title {
			font-size: 2.5em;
		}

		&__subtitle {
			margin-top: -0.45rem;
			font-size: 1.2rem;
		}
	}
}

/*==========----------==========*/
/*         480PX WIDTH          */
/*==========----------==========*/

@media (max-width: 480px) {
	.home {
		&__title {
			font-size: 2em;
		}

		&__subtitle {
			padding: 0.75rem 0.5rem 0.5rem 0.5rem;
			margin-top: -0.35rem;
			font-size: 1rem;
		}
	}
}

/*==========----------==========*/
/*         350PX WIDTH          */
/*==========----------==========*/

@media (max-width: 350px) {
	.home {
		&__title {
			font-size: 1.5em;
		}

		&__subtitle {
			padding: 0.5rem 0.35rem 0.35rem 0.35rem;
			margin-top: -0.25rem;
			font-size: 0.8rem;
		}
	}
}
