/*//////////////////////////////////////////////////////*/
/*//====================----------====================//*/
/*//               PORTFOLIO DETAIL PAGE              //*/
/*//====================----------====================//*/
/*//////////////////////////////////////////////////////*/

.showcase {
	/*==========----------==========*/
	/*           GENERAL            */
	/*==========----------==========*/

	$showcase: &;
	$showcaseSectionPadding: (8em, 4em, 6em, 4em);

	display: grid;
	grid-template: auto / #{map-get($golden-ratio, large)}fr #{map-get($golden-ratio, small)}fr;
	height: 100vh;

	&__section {
		position: relative;

		&--media {
			z-index: 2;

			&,
			* {
				user-select: none;
			}
		}

		&--content {
			display: grid;
			align-items: center;
			max-height: 100%;
			overflow-x: hidden;
			overflow-y: auto;
			background: map-get($bgColors, lightBg);
			color: $darkTextColor;
			z-index: 1;
		}
	}

	&__contentWrapper {
		padding: nth($showcaseSectionPadding, 1) nth($showcaseSectionPadding, 2) nth($showcaseSectionPadding, 3)
			nth($showcaseSectionPadding, 4);
	}

	/*==========----------==========*/
	/*           CAROUSEL           */
	/*==========----------==========*/

	.slider__arrows {
		top: calc(50% + #{(nth($showcaseSectionPadding, 1) / 2) - (nth($showcaseSectionPadding, 3) / 2)});
	}

	&__slider {
		position: relative;
		z-index: 3;
	}

	&__slideIcons {
		@include flexWrap(row, nowrap, flex-end);
		padding: 1em 1.5em;
		pointer-events: none;
		position: absolute;
		right: 0;
		bottom: 0;
		left: 0;
		z-index: 3;
		transform: translateY(100%);
		transition: transform $transitionAppendix;

		@media (hover: none) {
			display: none;
		}
	}

	&__icon {
		pointer-events: all;
		font-size: $largeFontSize;
	}

	&__img {
		object-fit: contain;
		max-height: calc(100vh - #{nth($showcaseSectionPadding, 1) + nth($showcaseSectionPadding, 3)});
		border-radius: $borderRadius;
		box-shadow: $softShadow;
		position: relative;
		z-index: 1;
	}

	&__imgWrp {
		overflow: hidden;
		border-radius: $borderRadius;
		position: relative;
		z-index: 3;
		transform: translateY(2em);
		transition: transform $transitionAppendix;

		&::before {
			@include gradient((rgba(map-get($bgColors, darkBg), 0), rgba(map-get($bgColors, darkBg), 0.85)), vertical);
			opacity: 0;
			display: block;
			content: '';
			pointer-events: none;
			position: absolute;
			top: 75%;
			right: 0;
			left: 0;
			bottom: 0;
			z-index: 2;
			transition: opacity $transitionAppendix;

			@media (hover: none) {
				display: none;
			}
		}

		@media (hover: hover) {
			&:hover {
				&::before {
					opacity: 1;
				}

				#{$showcase}__slideIcons {
					transform: none;
				}
			}
		}
	}

	&__bgWrp {
		overflow: hidden;

		&,
		&::before {
			@include absolute(cover);
		}

		@supports (backdrop-filter: blur()) {
			&::before {
				display: block;
				content: '';
				backdrop-filter: blur(40px);
				z-index: 2;
			}
		}
	}

	&__bg {
		@include absolute(cover);
		opacity: 0;
		width: 100%;
		height: 100%;
		max-width: none;
		object-fit: cover;
		transition: opacity $transitionAppendix;

		@supports not (backdrop-filter: blur()) {
			width: calc(100% + 80px);
			height: calc(100% + 80px);
			max-width: none;
			filter: blur(40px);
			top: -40px;
			right: -40px;
			bottom: -40px;
			left: -40px;
		}

		&.active {
			opacity: 0.2;
		}
	}

	&__slide {
		@include flexWrap(column, nowrap, center, center);
		opacity: 0;
		pointer-events: none;
		overflow: hidden;
		width: 100%;
		height: 100vh;
		padding: nth($showcaseSectionPadding, 1) nth($showcaseSectionPadding, 2) nth($showcaseSectionPadding, 3)
			nth($showcaseSectionPadding, 4);
		position: relative;
		z-index: 2;
		transition: opacity $transitionAppendix;

		& + #{$showcase}__slide {
			@include absolute(cover);
		}

		&.active {
			opacity: 1;
			pointer-events: all;

			#{$showcase}__imgWrp {
				transform: none;
			}
		}

		&.transOut {
			pointer-events: none;

			#{$showcase}__imgWrp {
				transform: translateY(-2em);
			}
		}
	}

	/*====---- VIDEOS ----====*/

	$vidWidth: calc(
		#{map-get($golden-ratio, large)}vw - #{nth($showcaseSectionPadding, 2) + nth($showcaseSectionPadding, 4)}
	);

	&__slide--video {
		#{$showcase}__imgWrp::before,
		#{$showcase}__slideIcons {
			display: none;
		}

		iframe {
			width: $vidWidth;
			height: calc(#{$vidWidth} / 16 * 9);
			max-height: 100%;
		}
	}

	/*==========----------==========*/
	/*           CONTENT            */
	/*==========----------==========*/

	&__title {
		@include underlineText();
		color: map-get($colorScheme, red);
	}

	&__buttons {
		padding-bottom: 0;
	}

	&__hr {
		width: 100%;
		max-width: 150px;
		margin: 2em 0 2em auto;
		background: map-get($colorScheme, red);
	}

	/*==========----------==========*/
	/*           NEIGHBORS          */
	/*==========----------==========*/

	&__neighbors {
		display: grid;
		grid-template: auto / 1fr 1fr;
		grid-auto-flow: dense;
		padding-top: 2em;
		margin: 0 -1em;
	}

	&__neighbor {
		$neighbor: &;

		height: 180px;
		border-radius: $borderRadius;
		box-shadow: $boxShadow;
		color: $lightTextColor;
		position: relative;
		z-index: 1;
		transform: none;
		transform-origin: left top;
		transition: transform $longTransitionAppendix;

		&Link,
		&ImgWrp,
		&Img {
			width: 100%;
			height: 100%;
		}

		&Link {
			display: block;
			color: inherit;

			@media (hover: hover) {
				&:hover {
					background: none;
				}
			}
		}

		&ImgWrp {
			@include decorateImage(-0.75em);
			position: relative;
			z-index: 1;

			&::after {
				@include gradient(
					(rgba(map-get($colorScheme, violet), 0.75), rgba(map-get($colorScheme, violet), 0)),
					diagonal-up
				);
				opacity: 1;
				transition: opacity $longTransitionAppendix;
			}
		}

		&Img {
			object-fit: cover;
			object-position: center center;
			border-radius: $borderRadius;

			&--top {
				object-position: center top;
			}

			&--bottom {
				object-position: center bottom;
			}
		}

		&Inner {
			@include absolute(cover);
			@include flexWrap(column, nowrap, space-between, flex-start);
			padding: 2em;
			z-index: 2;
		}

		&Heading,
		&Title {
			opacity: 1;
			margin: 0;
			font-size: 1em;
			transition: opacity $transitionAppendix;
		}

		&Heading {
			font-weight: $headingThin;
		}

		&Arrow {
			display: block;
			margin-bottom: 1em;
			border-color: $lightTextColor;
			color: $lightTextColor;
		}

		@media (hover: hover) {
			&:hover {
				transform: scale(1.025);

				#{$neighbor}ImgWrp::after {
					opacity: 0;
				}

				#{$neighbor}Arrow {
					background-color: $linkColor;
					border-color: $linkColor;
					color: text-color($linkColor);
				}

				#{$neighbor}Heading,
				#{$neighbor}Title {
					opacity: 0;
				}
			}
		}

		&--previous {
			order: -1;
			margin: 0 -0.75em 0 0;

			#{$neighbor}Inner {
				padding-right: 3em;
			}
		}

		&--next {
			grid-column: 2;
			box-shadow: $mediumShadow;
			margin: 2em 0 0 -0.75em;
			text-align: right;
			z-index: 2;
			transform-origin: right bottom;

			#{$neighbor}ImgWrp {
				&::before {
					transform: translate(0.75em, 0.75em);
				}

				&::after {
					@include gradient(
						(rgba(map-get($colorScheme, violet), 0), rgba(map-get($colorScheme, violet), 0.75)),
						diagonal-down
					);
				}
			}

			#{$neighbor}Inner {
				align-items: flex-end;
				padding-left: 3em;
			}
		}

		&--solo {
			margin: 0;
		}
	}

	/*//////////////////////////////////////////////////////*/
	/*//====================----------====================//*/
	/*//                  MEDIA QUERIES                   //*/
	/*//====================----------====================//*/
	/*//////////////////////////////////////////////////////*/

	/*==========----------==========*/
	/*        $desktop WIDTH        */
	/*==========----------==========*/

	@media (max-width: $desktop) {
		&__title {
			@include headingTag(h2);
		}

		&__neighbors {
			grid-template: auto auto / 1fr;
			gap: 1em;
		}

		&__neighbor {
			$neighbor: &;

			&--previous,
			&--next {
				#{$neighbor}Inner {
					padding: 2em;
				}
			}

			&--previous {
				margin: 0 2em 0 0;
			}

			&--next {
				grid-column: 1;
				margin: 0 0 0 2em;
			}
		}
	}

	/*==========----------==========*/
	/*         1200PX WIDTH         */
	/*==========----------==========*/

	@media (max-width: 1200px) {
		&__section--content {
			.blockquote,
			blockquote {
				margin-left: 1em;
			}
		}

		&__contentWrapper {
			padding-left: 2em;
			padding-right: 2em;
		}

		&__neighbors {
			margin: 0;
		}
	}

	/*==========----------==========*/
	/*    $tablet WIDTH or HEIGHT   */
	/*==========----------==========*/

	@media (max-width: $tablet), (max-height: $tablet) {
		$vidWidth: '100vw - 4em';
		$slidePadding: (6.5em, 2em, 3.5em, 2em);

		display: block;
		height: auto;

		.slider__arrows {
			top: calc(50% + #{(nth($slidePadding, 1) / 2) - (nth($slidePadding, 3) / 2)});
		}

		&__section--content {
			max-height: none;
			overflow: visible;
			background: map-get($bgColors, medBg);

			.blockquote,
			blockquote {
				margin-left: 2em;
				margin-right: 2em;

				&::before {
					background: map-get($bgColors, medBg);
				}
			}
		}

		&__contentWrapper {
			padding: nth($mobileSectionPadding, 1) nth($mobileSectionPadding, 2);
		}

		&__title {
			@include headingTag(h1);
		}

		&__slide {
			height: calc(100vh - 2em);
			padding: nth($slidePadding, 1) nth($slidePadding, 2) nth($slidePadding, 3) nth($slidePadding, 4);

			&--video iframe {
				width: calc(#{$vidWidth});
				height: calc((#{$vidWidth}) / 16 * 9);
			}
		}

		&__img {
			max-height: calc(90vh - #{nth($slidePadding, 1) + nth($slidePadding, 3)});
		}

		&__neighbors {
			grid-template: auto / 1fr 1fr;
			gap: 0;
			margin: 0;
			padding: 2em 1em;
		}

		&__neighbor {
			$neighbor: &;

			&--previous {
				margin: 0 -0.75em 0 0;

				#{$neighbor}Inner {
					padding-right: 3em;
				}
			}

			&--next {
				grid-column: 2;
				margin: 2em 0 0 -0.75em;

				#{$neighbor}Inner {
					padding-left: 3em;
				}
			}

			&--solo {
				margin: 0;
			}
		}
	}

	/*==========----------==========*/
	/*         $phone WIDTH         */
	/*==========----------==========*/

	@media (max-width: $phone) {
		$slidePadding: (5.5em, 1em, 2.5em, 1em);

		.slider__arrows {
			top: calc(50% + #{(nth($slidePadding, 1) / 2) - (nth($slidePadding, 3) / 2)});
		}

		&__section--content {
			blockquote,
			.blockquote {
				margin-left: 0;
				margin-right: 0;
			}
		}

		&__slide {
			padding: nth($slidePadding, 1) nth($slidePadding, 2) nth($slidePadding, 3) nth($slidePadding, 4);
		}

		&__neighbors {
			grid-template: auto auto / 1fr;
			gap: 1em;
		}

		&__neighbor {
			$neighbor: &;

			&ImgWrp {
				&::before {
					transform: translate(-0.5em, -0.5em);
				}
			}

			&--previous,
			&--next {
				#{$neighbor}Inner {
					padding: 1em;
				}
			}

			&--previous {
				margin: 0 2em 0 0;
			}

			&--next {
				grid-column: 1;
				margin: 0 0 0 2em;

				#{$neighbor}ImgWrp {
					&::before {
						transform: translate(0.5em, 0.5em);
					}
				}
			}
		}
	}
}
