/*//////////////////////////////////////////////////////*/
/*//====================----------====================//*/
/*//                     BUTTONS                      //*/
/*//====================----------====================//*/
/*//////////////////////////////////////////////////////*/

button,
.button {
	cursor: pointer;
}

button {
	appearance: none;
	padding: 0;
	margin: 0;
	border: none;
	background: none;
	font: inherit;
	color: $linkColor;
	font-weight: $primaryBold;

	&:focus {
		outline: none;
	}
}

.button {
	/*==========----------==========*/
	/*           GENERAL            */
	/*==========----------==========*/

	$button: &;

	@include button;
	opacity: 1;
	visibility: visible;

	&:focus {
		outline: 0;
	}

	&__wrapper {
		@include flexWrap(row, wrap, flex-start, center);
		padding: 2em 0;

		&--justifyRight {
			justify-content: flex-end;
		}

		&--justifyCenter {
			justify-content: center;
		}

		&--justifyBetween {
			justify-content: space-between;
		}

		&--justifyAround {
			justify-content: space-around;
		}

		#{$button} {
			margin: 1em;
		}
	}

	&:disabled,
	&.disabled,
	&--disabled {
		filter: grayscale(100%);
		opacity: 0.5;
		cursor: default;
		pointer-events: none;
	}

	&--small {
		padding: 0.25em 0.5em;
		font-size: 1em;
	}

	&--displayNone {
		display: none;
	}

	&--next {
		z-index: 2;
	}

	/*==========----------==========*/
	/*        PRIMARY BUTTON        */
	/*==========----------==========*/
	&--primary {
		@include gradient((map-get($colorScheme, red), map-get($colorScheme, yellow)), horizontal);
		background-size: 200% 100%;
		background-position: 0 center;
		color: $lightTextColor;
		transition: background-position $transitionAppendix;

		@media (hover: hover) {
			&:hover {
				background-position: 100% center;
			}
		}
	}
	/*==========----------==========*/
	/*       SECONDARY BUTTON       */
	/*==========----------==========*/
	&--secondary {
		background-color: transparent;
		border: $borderThickness solid $linkColor;
		color: $linkColor;
		transition: color $transitionAppendix, background-color $transitionAppendix;

		@media (hover: hover) {
			&:hover {
				background-color: $linkColor;
				color: $lightTextColor;
			}
		}
	}

	/*==========----------==========*/
	/*       DOWNLOAD BUTTON        */
	/*==========----------==========*/
	&--download {
		&::before {
			@include icon(solid, save);
			margin-right: 1em;
		}
	}

	/*==========----------==========*/
	/*         IMAGE BUTTON         */
	/*==========----------==========*/
	&--imageBtn {
		box-shadow: $softShadow;
		background: $imageBtnBg;
		border: $thickBorderThickness solid $imageBtnBorderColor;
		color: text-color($imageBtnBg);

		#{$button}__text {
			@include heading(null, 1em 0 0 0);
			display: block;
		}

		#{$button}__img,
		svg {
			width: auto;
			max-width: 4em;
			max-height: 4em;
			margin: 0 auto;
		}

		@media (hover: hover) {
			&:hover {
				background: $imageBtnBorderColor;
				color: text-color($imageBtnBorderColor);
			}
		}
	}
}

/*==========----------==========*/
/*        TO TOP BUTTON         */
/*==========----------==========*/

.toTopBtn {
	cursor: pointer;
	width: $socialIconDiam;
	height: $socialIconDiam;
	flex-shrink: 0;
	margin-left: 1em;
	border-radius: 50%;
	background-color: map-get($colorScheme, red);
	color: text-color(map-get($colorScheme, red));
	position: relative;
	transition: background-color $transitionAppendix, color $transitionAppendix;

	&:before {
		@include absolute(center);
		@include icon(solid, angle-up, block, 20px, 100%);
	}

	svg {
		@include absolute(center);
		width: $socialIconDiam * 0.65;
		height: $socialIconDiam * 0.65;
		fill: text-color(map-get($bgColors, darkBg));
		transition: fill $transitionAppendix;

		* {
			fill: inherit;
		}
	}

	@media (hover: hover) {
		&:hover {
			background-color: lighten-or-darken(map-get($colorScheme, red));
			color: text-color(lighten-or-darken(map-get($colorScheme, red)));

			svg {
				fill: text-color($linkColor);
			}
		}
	}
}

/*==========----------==========*/
/*         CLOSE BUTTON         */
/*==========----------==========*/

.closeBtn {
	$closeBtn: &;

	cursor: pointer;
	display: block;
	width: $crossBtnDiam;
	height: $crossBtnDiam;
	flex-shrink: 0;
	border-radius: $borderRadius;
	background-color: map-get($colorScheme, red);
	position: relative;
	transition: background-color $transitionAppendix;

	&__bar {
		$thisBar: &;

		display: block;
		width: 75%;
		height: $borderThickness;
		margin: 0;
		padding: 0;
		border: none;
		background-color: text-color(map-get($colorScheme, red));
		position: absolute;
		top: 50%;
		left: 50%;
		transition: background-color $transitionAppendix;

		&--1 {
			transform: translate(-50%, -50%) rotate(-45deg);
		}

		&--2 {
			transform: translate(-50%, -50%) rotate(45deg);
		}
	}

	&--circle {
		width: $circleBtnDiam;
		height: $circleBtnDiam;
		border-radius: 50%;

		#{$closeBtn}__bar {
			width: 50%;
		}
	}

	@media (hover: hover) {
		&:hover {
			background-color: $linkColor;

			#{$closeBtn}__bar {
				background-color: bg-color($linkColor);
			}
		}
	}
}

/*==========----------==========*/
/*       CIRCULAR BUTTONS       */
/*==========----------==========*/

.circleBtn {
	$circleBtn: &;

	@include circleBtn;

	&__bar {
		display: block;
		width: 50%;
		height: 2px;
		margin: 0;
		padding: 0;
		background-color: text-color(bg-color(map-get($bgColors, bodyBg)));
		border: none;
		position: absolute;
		transition: background-color $transitionAppendix, color $transitionAppendix;
	}

	@media (hover: hover) {
		&:hover {
			#{$circleBtn}__bar {
				background-color: text-color($linkColor);
			}
		}
	}

	/*---------- HOME BUTTON ----------*/
	&--home {
		background: bg-color(map-get($bgColors, bodyBg));

		&::before {
			@include iconContent(solid, home);
		}
	}

	/*---------- BACK BUTTON ----------*/
	&--back {
		background: bg-color(map-get($bgColors, bodyBg));

		svg {
			width: auto;
			height: 50%;
		}

		&::before {
			@include iconContent(solid, angle-left);
		}
	}

	/*---------- QUESTION BUTTON ----------*/
	&--question {
		width: $circleBtnDiam * 0.5;
		height: $circleBtnDiam * 0.5;

		&::before {
			@include iconContent(solid, question-mark);
			font-size: $circleBtnDiam * 0.25;
		}
	}

	/*---------- EXPAND BUTTON ----------*/
	&--expand {
		width: $circleBtnDiam * 0.5;
		height: $circleBtnDiam * 0.5;

		#{$circleBtn}__bar {
			width: $circleBtnDiam * 0.25;
			height: $borderThickness;
			background: text-color(map-get($bgColors, bodyBg));
			top: 50%;
			left: 50%;
			transition: transform $transitionAppendix;

			&--1 {
				transform: translate(-50%, -50%);
			}

			&--2 {
				transform: translate(-50%, -50%) rotate(90deg);
			}
		}

		&.active #{$circleBtn}__bar--2 {
			transform: translate(-50%, -50%);
		}
	}

	/*---------- ADD & SUBTRACT BUTTONS ----------*/
	&--add,
	&--subtract {
		background-color: map-get($colorScheme, red);
		border: none;
		color: text-color(map-get($colorScheme, red));
		touch-action: none;

		&::before {
			font-size: $circleBtnDiam * 0.5;
		}

		@media (hover: hover) {
			&:hover {
				background-color: lighten-or-darken(map-get($colorScheme, red));
				color: text-color(lighten-or-darken(map-get($colorScheme, red)));
			}
		}
	}

	&--add::before {
		@include iconContent(solid, plus);
	}

	&--subtract::before {
		@include iconContent(solid, minus);
	}

	/*---------- PREV & NEXT BUTTONS ----------*/

	&--prev,
	&--next {
		background-color: map-get($colorScheme, red);
		border: none;
		color: $lightTextColor;
		touch-action: none;

		@media (hover: hover) {
			&:hover {
				background-color: lighten(map-get($colorScheme, red), 15%);
				color: $darkTextColor;
			}
		}
	}

	&--prev::before {
		@include iconContent(solid, long-arrow-alt-left);
	}

	&--next::before {
		@include iconContent(solid, long-arrow-alt-right);
	}

	/*---------- SMALL CIRCLE BUTTON ----------*/
	&--small {
		width: $circleBtnDiam * 0.65;
		height: $circleBtnDiam * 0.65;

		&::before {
			font-size: $circleBtnDiam * 0.3;
		}
	}
}

/*//////////////////////////////////////////////////////*/
/*//====================----------====================//*/
/*//                  MEDIA QUERIES                   //*/
/*//====================----------====================//*/
/*//////////////////////////////////////////////////////*/

/*==========----------==========*/
/*         1000PX WIDTH         */
/*==========----------==========*/

@media only screen and (max-width: 1000px) {
	.circleBtn--question::before {
		font-size: $circleBtnDiam * 0.25;
	}
}

/*==========----------==========*/
/*         600PX WIDTH          */
/*==========----------==========*/

@media only screen and (max-width: 600px) {
	.crossBtn,
	.closeBtn {
		width: $crossBtnDiam * 0.75;
		height: $crossBtnDiam * 0.75;
	}

	.button--small {
		padding: 0.25em 0.5em;
	}
}
