/*//////////////////////////////////////////////////////*/
/*//====================----------====================//*/
/*//                     LIGHTBOX                     //*/
/*//====================----------====================//*/
/*//////////////////////////////////////////////////////*/

.lightbox {
	$lightbox: &;

	/*==========----------==========*/
	/*           GENERAL            */
	/*==========----------==========*/

	@include flexWrap(column, nowrap, center, center);
	overflow: hidden;
	opacity: 0;
	padding: 2em;
	position: fixed;
	pointer-events: none;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 1000;
	transition: opacity $transitionAppendix;

	&.active {
		opacity: 1;
		pointer-events: all;
	}

	&__box {
		opacity: 0;
		max-height: 100%;
		position: relative;
		z-index: 4;
		transform: translateY(2em);
		transition: opacity $transitionAppendix, transform $transitionAppendix;

		&.active {
			opacity: 1;
			transform: none;
		}
	}

	&__overlay {
		@include absolute(cover);
		cursor: pointer;

		@media (hover: none) {
			cursor: auto;
			pointer-events: none;
		}
	}

	/*==========----------==========*/
	/*        IMAGE LIGHTBOX        */
	/*==========----------==========*/

	$maxImgHeight: calc(100vh - 4em);

	&__img {
		max-height: $maxImgHeight;
		border-radius: $borderRadius;
		box-shadow: $softShadow;
		position: relative;
		z-index: 1;
	}

	&__overlay {
		background: map-get($bgColors, bodyBg);

		@supports (backdrop-filter: blur()) {
			&::before {
				@include absolute(cover, 2);
				display: block;
				content: '';
				backdrop-filter: blur(40px);
			}
		}
	}

	&__bg {
		@include absolute(cover);
		opacity: 0.2;
		width: 100%;
		height: 100%;
		object-fit: cover;

		@supports not (backdrop-filter: blur()) {
			width: calc(100% + 80px);
			height: calc(100% + 80px);
			max-width: none;
			filter: blur(40px);
			top: -40px;
			right: -40px;
			bottom: -40px;
			left: -40px;
		}
	}

	&__closeBtn--outer {
		border-radius: 0 0 0 $borderRadius;
		position: absolute;
		top: 0;
		right: 0;
		z-index: 5;
	}

	&__button {
		position: absolute;
		bottom: 2em;
		right: 2em;
		z-index: 5;
	}

	/*==========----------==========*/
	/*      SLIDESHOW LIGHTBOX      */
	/*==========----------==========*/

	$lbSliderPadding: (2em, 2em, 4em, 2em);
	$maxSlideHeight: calc(100vh - 6em);
	$vidWidth: '100vw - 4em';

	.slider__arrows,
	.slider__dots,
	.showcase__imgWrp::before,
	.showcase__slideIcons {
		display: none;
	}

	.slider {
		&__arrows {
			padding: 0 1em;
			top: calc(50% + #{(nth($lbSliderPadding, 1) / 2) - (nth($lbSliderPadding, 3) / 2)});
		}

		&__dots {
			bottom: 2em;
		}
	}

	.showcase {
		&__slide {
			display: none;
			height: $maxSlideHeight;
			padding: 0;
			overflow: visible;

			&--video iframe {
				width: calc(#{$vidWidth});
				height: calc((#{$vidWidth}) / 16 * 9);
			}

			&.active {
				pointer-events: none;
			}
		}

		&__img {
			max-height: $maxSlideHeight;
		}
	}

	&.active .showcase__slide.active {
		pointer-events: all;
	}

	&--slider {
		padding: nth($lbSliderPadding, 1) nth($lbSliderPadding, 2) nth($lbSliderPadding, 3) nth($lbSliderPadding, 4);

		#{$lightbox}__slider {
			display: block;
		}

		.showcase__slide,
		.slider__arrows,
		.slider__dots {
			display: flex;
		}
	}

	/*==========----------==========*/
	/*       CONTENT LIGHTBOX       */
	/*==========----------==========*/

	&__header {
		@include flexWrap(row, nowrap, space-between, flex-start);
		background: $lightboxBg;
		border-radius: $borderRadius $borderRadius 0 0;
		position: relative;
		z-index: 2;
	}

	&__header,
	&__content {
		display: none;
	}

	&__content {
		padding: 1em 2em 2em 2em;
		overflow-x: hidden;
		overflow-y: auto;
		position: relative;
		z-index: 1;

		& > * {
			&:first-child {
				margin-top: 0;
				padding-top: 0;
			}

			&:last-child {
				margin-bottom: 0;
				padding-bottom: 0;
			}
		}
	}

	&__heading {
		@include headingTag(h3);
		@include underlineText;
		margin: 0;
		padding: 1rem 2rem;
		color: map-get($colorScheme, red);
	}

	&__closeBtn--inner {
		border-radius: 0 $borderRadius;
		position: relative;
	}

	&--message {
		#{$lightbox} {
			&__header {
				display: flex;
			}

			&__content {
				display: block;
			}

			&__closeBtn--outer,
			&__button {
				display: none;
			}

			&__box {
				display: grid;
				width: 100%;
				max-width: $contentWidth;
				border-radius: $borderRadius;
				background: $lightboxBg;
				color: text-color($lightboxBg);
			}

			&__overlay {
				background: rgba(map-get($bgColors, bodyBg), 0.8);
				backdrop-filter: blur(40px);

				&::before {
					display: none;
				}
			}
		}
	}

	/*==========----------==========*/
	/*         IE LIGHTBOX          */
	/*==========----------==========*/

	&--ie {
		z-index: 1200;

		#{$lightbox}__overlay {
			cursor: auto;
		}
	}

	/*==========----------==========*/
	/*        MEDIA QUERIES         */
	/*==========----------==========*/

	/*---------- $tablet WIDTH or HEIGHT ----------*/

	@media (max-width: $tablet), (max-height: $tablet) {
		$lbSliderPadding: (1em, 2em, 4em, 2em);
		$maxImgHeight: calc(100vh - 2em);
		$maxSlideHeight: calc(100vh - 5em);
		$vidWidth: '100vw - 4em';

		padding: 1em;

		&__img {
			max-height: $maxImgHeight;
		}

		.slider__arrows {
			top: calc(50% + #{(nth($lbSliderPadding, 1) / 2) - (nth($lbSliderPadding, 3) / 2)});
		}

		.showcase {
			&__slide {
				height: $maxSlideHeight;

				&--video iframe {
					width: calc(#{$vidWidth});
					height: calc((#{$vidWidth}) / 16 * 9);
				}
			}

			&__img {
				max-height: $maxSlideHeight;
			}
		}

		&--slider {
			padding: nth($lbSliderPadding, 1) nth($lbSliderPadding, 2) nth($lbSliderPadding, 3) nth($lbSliderPadding, 4);
		}
	}

	/*---------- $phone WIDTH ----------*/

	@media (max-width: $phone) {
		&__closeBtn {
			width: $crossBtnDiam;
			height: $crossBtnDiam;
		}
	}

	/*---------- PRINT ----------*/

	@media print {
		display: none;
	}
}
