/*//////////////////////////////////////////////////////*/
/*//====================----------====================//*/
/*//                   SOCIAL MEDIA                   //*/
/*//====================----------====================//*/
/*//////////////////////////////////////////////////////*/

.social {
	&__ul,
	&__li {
		margin: 0;
		padding: 0;
		list-style: none;
	}

	&__ul {
		@include flexWrap(row, wrap, center, center);

		&--justifyLeft {
			justify-content: flex-start;
		}

		&--justifyRight {
			justify-content: flex-end;
		}
	}

	&__li {
		display: block;
		margin: 0.75em;
	}

	&__icon {
		width: $socialIconDiam;
		height: $socialIconDiam;
		border-radius: 50%;
		background-color: $linkColor;
		padding: 0;
		text-decoration: none;
		color: text-color($linkColor);
		transition: background-color $transitionAppendix, color $transitionAppendix;

		&::before {
			color: inherit;
			font-size: $socialIconDiam * 0.5;
		}

		@media (hover: hover) {
			&:hover {
				background-color: text-color($linkColor);
				color: $linkColor;
			}
		}
	}

	&__text {
		display: none;
	}
}

/*==========----------==========*/
/*        TOP NAV SOCIAL        */
/*==========----------==========*/

.header .social {
	&__li {
		opacity: 0;
		visibility: hidden;
		margin: 0.5em 1em;
		position: relative;
		transform: translateX(-1em);
		transition: opacity $transitionAppendix, transform $transitionAppendix;

		&.active {
			opacity: 1;
			visibility: visible;
			transform: none;
		}
	}

	&__icon {
		background: text-color($mobileNavBg);
		color: $linkColor;

		@media (hover: hover) {
			&:hover {
				background: lighten-or-darken(bg-color($mobileNavBg));
				color: text-color(lighten-or-darken(bg-color($mobileNavBg)));
			}
		}
	}
}

/*//////////////////////////////////////////////////////*/
/*//====================----------====================//*/
/*//                  MEDIA QUERIES                   //*/
/*//====================----------====================//*/
/*//////////////////////////////////////////////////////*/

/*==========----------==========*/
/*          600PX WIDTH         */
/*==========----------==========*/

@media only screen and (max-width: 600px) {
	.social,
	.header .social {
		&__li {
			margin: 0.5em 0.75em;
		}
	}
}

/*==========----------==========*/
/*          500PX WIDTH         */
/*==========----------==========*/

@media only screen and (max-width: 500px) {
	.social {
		&__icon {
			width: $socialIconDiam * 0.8;
			height: $socialIconDiam * 0.8;

			&::before {
				font-size: $socialIconDiam * 0.4;
			}
		}
	}
}

/*==========----------==========*/
/*         $phone WIDTH         */
/*==========----------==========*/

@media only screen and (max-width: $phone) {
	.header .social {
		&__ul {
			justify-content: flex-end;
		}
	}
}
