
<section class="portfolio">
    {{#each items}}
        <div class="portfolio__item">
            <h2>{{this.title}}</h2>
            {{#each this.media}}
                <img src="{{this.url}}" alt="{{this.alt}}">
            {{/each}}
            {{{this.content}}}
        </div>
    {{/each}}
</section>