/*//////////////////////////////////////////////////////*/
/*//====================----------====================//*/
/*//                      FOOTER                      //*/
/*//====================----------====================//*/
/*//////////////////////////////////////////////////////*/

.footer {
	&__icons {
		display: grid;
		grid-template: auto / #{map-get($golden-ratio, large)}fr #{map-get($golden-ratio, small)}fr;
	}

	&__copyright {
		padding: 2em;
		font-size: $smallFontSize;
		font-weight: $primaryBold;
		text-align: center;
	}

	/*//////////////////////////////////////////////////////*/
	/*//====================----------====================//*/
	/*//                   MEDIA QUERIES                  //*/
	/*//====================----------====================//*/
	/*//////////////////////////////////////////////////////*/

	/*==========----------==========*/
	/*         $tablet WIDTH        */
	/*==========----------==========*/

	@media (max-width: $tablet) {
		&__icons {
			grid-template: auto auto / 1fr;
		}
	}
}
