/*//////////////////////////////////////////////////////*/
/*//====================----------====================//*/
/*//                      FOOTER                      //*/
/*//====================----------====================//*/
/*//////////////////////////////////////////////////////*/

.footer {
	&__icons {
		display: grid;
	}

	&__copyright {
		padding: 2em;
		font-size: $smallFontSize;
		font-weight: $primaryBold;
		text-align: center;
	}

	&--detailPage {
		display: none;
	}

	/*//////////////////////////////////////////////////////*/
	/*//====================----------====================//*/
	/*//                   MEDIA QUERIES                  //*/
	/*//====================----------====================//*/
	/*//////////////////////////////////////////////////////*/

	/*==========----------==========*/
	/*   $tablet WIDTH or HEIGHT    */
	/*==========----------==========*/

	@media (max-width: $tablet), (max-height: $tablet) {
		&--detailPage {
			display: block;
		}
	}

	/*==========----------==========*/
	/*         $phone WIDTH        */
	/*==========----------==========*/

	@media (max-width: $phone) {
		&__icons {
			grid-template: auto auto / 1fr !important;
		}
	}
}
