/*//////////////////////////////////////////////////////*/
/*//====================----------====================//*/
/*//                      HEADER                      //*/
/*//====================----------====================//*/
/*//////////////////////////////////////////////////////*/

.header {
	background: $headerBg;
	visibility: visible;
	position: relative;
	z-index: 100;

	&__row {
		@include flexWrap(row, nowrap, space-between, stretch);
		position: fixed;
		top: 0;
		right: 0;
		left: 0;
		padding: 0.5em 1em;
	}

	&__logo {
		@include flexWrap(column, nowrap, center, stretch);
	}
}

/*==========----------==========*/
/*        SCROLLED STYLES       */
/*==========----------==========*/

/*//////////////////////////////////////////////////////*/
/*//====================----------====================//*/
/*//                   MEDIA QUERIES                  //*/
/*//====================----------====================//*/
/*//////////////////////////////////////////////////////*/

/*==========----------==========*/
/*            QUERY             */
/*==========----------==========*/
