/*//////////////////////////////////////////////////////*/
/*//====================----------====================//*/
/*//                      HEADER                      //*/
/*//====================----------====================//*/
/*//////////////////////////////////////////////////////*/

.header {
	pointer-events: none;

	a,
	button {
		pointer-events: all;
	}

	&__row {
		@include flexWrap(row, nowrap, space-between, stretch);
		gap: 1em;
		position: fixed;
		top: 0;
		right: 0;
		left: 0;
		z-index: 100;
		padding: 0.5em 1em;
	}

	&__logo {
		@include flexWrap(column, nowrap, center, stretch);
	}

	/*//////////////////////////////////////////////////////*/
	/*//====================----------====================//*/
	/*//                   MEDIA QUERIES                  //*/
	/*//====================----------====================//*/
	/*//////////////////////////////////////////////////////*/

	/*==========----------==========*/
	/*            QUERY             */
	/*==========----------==========*/
}
