/*//////////////////////////////////////////////////////*/
/*//====================----------====================//*/
/*//                       HERO                       //*/
/*//====================----------====================//*/
/*//////////////////////////////////////////////////////*/

.hero {
	$hero: &;

	@include flexWrap(column, nowrap, flex-end, center);
	color: text-color(map-get($bgColors, darkBg));
	width: 100%;
	min-height: 100vh;
	padding: 8em 2em 5em 2em;
	position: relative;
	z-index: 2;

	&::before,
	&::after {
		display: block;
		content: '';
		height: 10em;
		position: absolute;
		left: 0;
		right: 0;
		z-index: 2;
	}

	&::before {
		@include gradient((rgba(map-get($bgColors, darkBg), 0.5), rgba(map-get($bgColors, darkBg), 0)), vertical);
		top: 0;
	}

	&::after {
		@include gradient((rgba(map-get($bgColors, darkBg), 0), map-get($bgColors, darkBg)), vertical);
		bottom: 0;
	}

	&__content {
		text-align: center;
		position: relative;
		z-index: 3;
	}

	&__title,
	&__subtitle {
		margin: 0;
	}

	&__title {
		font-size: 4em;
	}

	&__titleText,
	&__subtitle {
		@include gradient((map-get($colorScheme, violet), map-get($colorScheme, red)), diagonal-up);
	}

	&__titleText {
		display: block;
		background-clip: text;
		-webkit-background-clip: text;
		color: transparent;
	}

	&__subtitle {
		padding: 1rem 1rem 0.5rem 1rem;
		margin-top: -1.35rem;
		font-weight: $primaryLight;
		font-size: 2rem;
		position: relative;
		z-index: -1;
	}

	&__bg,
	&__img {
		@include absolute(cover);
	}

	&__img {
		width: 100%;
		height: 100%;
		object-fit: cover;
	}
}

/*==========----------==========*/
/*        SCROLL GRAPHIC        */
/*==========----------==========*/

$trackHeight: 8px;
$ballDiam: 4px;

.scrollGraphic {
	@include absolute(center-horizontal);
	opacity: 1;
	display: block;
	padding: 1em;
	bottom: -1px;
	z-index: 4;
	transition: opacity $transitionAppendix;

	&__icon,
	&__track,
	&__ball {
		display: block;
	}

	&__icon {
		width: 20px;
		height: 30px;
		border-radius: 10px;
		border: 2px solid $lightTextColor;
		position: relative;
	}

	&__track {
		@include absolute(center-horizontal);
		height: $trackHeight;
		top: 4px;
	}

	&__ball {
		@include animation(slide-down, 1s, ease, 0s, normal, infinite);
		opacity: 1;
		width: $ballDiam;
		height: $ballDiam;
		border-radius: 50%;
		background: $lightTextColor;
		transform: none;
	}
}

@keyframes slide-down {
	0% {
		opacity: 1;
		transform: translateY(0);
	}
	70% {
		opacity: 1;
	}
	100% {
		opacity: 0;
		transform: translateY($trackHeight);
	}
}

/*//////////////////////////////////////////////////////*/
/*//====================----------====================//*/
/*//                   MEDIA QUERIES                  //*/
/*//====================----------====================//*/
/*//////////////////////////////////////////////////////*/

/*==========----------==========*/
/*         $tablet WIDTH        */
/*==========----------==========*/
@media only screen and (max-width: $tablet) {
	.hero {
		padding-left: 1em;
		padding-right: 1em;
	}
}

/*==========----------==========*/
/*         $phone WIDTH         */
/*==========----------==========*/
@media only screen and (max-width: $phone) {
	.hero {
		padding: 6em 1em 5em 1em;
	}
}
