/*//////////////////////////////////////////////////////*/
/*//====================----------====================//*/
/*//                  SITE NAVIGATION                 //*/
/*//====================----------====================//*/
/*//////////////////////////////////////////////////////*/

$nav: '.nav';
$mobileNav: '.mobileNav';

#{$nav} {
	opacity: 0;
	visibility: hidden;
	pointer-events: none;
	max-height: 100vh;
	overflow-x: hidden;
	overflow-y: auto;
	color: $lightTextColor;
	text-align: center;
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 98;
	transition: opacity $longTransitionAppendix, visibility $longTransitionAppendix;

	&__wrp {
		@include gradient(($mobileNavBg, map-get($colorScheme, violet)), vertical);
		min-height: 100vh;
		padding: 8em 2em 2em 2em;
	}

	&__ul,
	&__li {
		display: block;
		list-style: none;
		margin: 0;
		padding: 0;
	}

	&__ul {
		@include flexWrap(column, nowrap, flex-start, center);
		margin-bottom: 4em;
	}

	&__text {
		display: block;
		color: inherit;
		position: relative;

		&::before {
			@include absolute(center-horizontal);
			opacity: 0;
			content: '';
			width: $navBtnBlockDiam;
			height: $navBtnBlockDiam;
			background: $lightTextColor;
			border-radius: 50%;
			bottom: -0.5em;
			transform: translate(-50%, 0.5em);
			transition: transform $transitionAppendix, opacity $transitionAppendix;
		}
	}

	&__a {
		@include heading();
		opacity: 0.65;
		display: block;
		padding: 1em;
		margin: 0;
		text-decoration: none;
		color: inherit;
		font-size: $largeFontSize;
		transition: opacity $transitionAppendix;

		@media (hover: hover) {
			&:hover {
				@include activeNavItem();
				color: inherit;
				text-decoration: none;
				background: none;
			}
		}
	}

	&__li {
		opacity: 0;
		position: relative;
		transform: translateY(2em);
		transition: transform 0.5s ease, opacity 0.5s ease;

		&--current > #{$nav}__a {
			@include activeNavItem();
		}

		&.active {
			opacity: 1;
			transform: none;
		}
	}

	/*==========----------==========*/
	/*      MOBILE NAV BUTTON       */
	/*==========----------==========*/
	&__button {
		$navBtn: &;

		/*====------ GENERAL ------====*/

		display: block;
		flex-shrink: 0;
		cursor: pointer;
		width: $navBtnDiam;
		height: $navBtnDiam;
		margin: 0;
		border-radius: 0 0 0 $borderRadius;
		background-color: $linkColor;
		box-shadow: $softShadow;
		position: relative;
		transition: background-color $transitionAppendix;

		&Blocks,
		&Lines {
			@include absolute(center);
		}

		&Block,
		&Line {
			background: $lightTextColor;
		}

		&Blocks {
			display: grid;
			grid-template: auto auto auto / auto auto auto;
			align-content: space-between;
			justify-content: space-between;
			width: 42%;
			height: 42%;
		}

		&Block {
			width: $navBtnBlockDiam;
			height: $navBtnBlockDiam;
			border-radius: 50%;

			&--disapparate {
				opacity: 1;
				transition: opacity $transitionAppendix;
			}
		}

		/*-- hover --*/
		@media (hover: hover) {
			&:hover {
				background-color: lighten($linkColor, 5%);
			}
		}

		/*-- active --*/
		&.active {
			background-color: map-get($bgColors, lightBg);

			#{$navBtn}Block {
				background-color: $mobileNavBg;

				&--disapparate {
					opacity: 0;
				}
			}
		}

		/*====------ CLOSE BUTTON ------====*/
		/*-- (for portfolio detail page) --*/

		&Lines {
			width: 50%;
			height: 50%;
		}

		&Line {
			@include absolute(center);
			display: block;
			width: 100%;
			height: 4px;
			border-radius: 2px;
			transform: translate(-50%, -50%) rotate(45deg);

			&--2 {
				transform: translate(-50%, -50%) rotate(-45deg);
			}
		}
	}
}

/*==========----------==========*/
/*      MOBILE NAV DRAWER       */
/*==========----------==========*/

#{$mobileNav} {
	position: fixed;
	top: 0;
	right: 0;
	z-index: 99;
	transition: box-shadow $transitionAppendix, background-color $transitionAppendix;

	&__icon,
	&__label {
		position: relative;
		z-index: 3;
	}

	&__icon {
		width: auto;
		height: 28px;
	}

	&__label {
		@include heading;
		display: block;
		margin: 0.35em 0 0 0;
		font-size: 0.65em;
		color: $lightTextColor;
	}

	&__item {
		display: none;
		flex: 1 0 auto;
		padding: 0.65em 0.25em 0.25em 0.25em;
		text-align: center;
		transition: opacity $longTransitionAppendix;
		position: relative;

		&::before,
		&::after {
			display: none;
			content: '';
			pointer-events: none;
		}

		&::before {
			@include absolute(center-horizontal);
			top: 0;
			z-index: 2;
			width: 40%;
			height: 0.35em;
			border-radius: 0 0 0.35em 0.35em;
			background: $lightTextColor;
		}

		&::after {
			@include absolute(cover);
			@include gradient((map-get($colorScheme, violet), rgba(map-get($colorScheme, violet), 0)), radial-from-top);
		}

		&:last-of-type {
			margin-right: 0.5em;
		}

		&--current {
			&::before,
			&::after {
				display: block;
			}
		}

		&--shop {
			#{$mobileNav}__icon {
				transform: translateX(-10%);
			}
		}

		@media (hover: hover) {
			&:hover {
				background: none;
			}
		}
	}
}

/*==========----------==========*/
/*      REVEAL NAVIGATION       */
/*==========----------==========*/

.showNav #{$nav} {
	opacity: 1;
	visibility: visible;
	pointer-events: all;
}

/*//////////////////////////////////////////////////////*/
/*//====================----------====================//*/
/*//                   MEDIA QUERIES                  //*/
/*//====================----------====================//*/
/*//////////////////////////////////////////////////////*/

/*==========----------==========*/
/*         $tablet WIDTH        */
/*==========----------==========*/

@media (max-width: $tablet) {
	#{$nav} {
		&__wrp {
			padding: 8em 1em 2em 1em;
		}
	}
}

/*==========----------==========*/
/*         $phone WIDTH         */
/*==========----------==========*/

@media (max-width: $phone) {
	#{$nav} {
		&__wrp {
			padding: 6em 1em 2em 1em;
		}

		&__button:not(#{$nav}__button--close) {
			width: $navBtnDiam * 1.15;
			height: $navBtnDiam * 1.15;
			border-radius: 50%;
			transform: translate(-0.5em, -0.5em);
		}

		&__button--close {
			width: 50px;
			height: 50px;
		}
	}

	#{$mobileNav}:not(#{$mobileNav}--portfolioDetail) {
		@include flexWrap(row, nowrap, flex-start, stretch);
		background-color: $navDrawerBg;
		box-shadow: $mediumShadowUp;
		top: auto;
		left: 0;
		bottom: 0;

		#{$mobileNav}__item {
			@include flexWrap(column, nowrap, center, center);
		}
	}

	/*=====---- REVEAL NAVIGATION ----=====*/

	.showNav #{$mobileNav} {
		background-color: transparent;
		box-shadow: none;

		&__item {
			opacity: 0;
			pointer-events: none;
		}
	}
}

/*==========----------==========*/
/*         400PX WIDTH          */
/*==========----------==========*/

@media (max-width: 400px) {
	#{$mobileNav} {
		&__label {
			font-size: 7px;
		}
	}
}

/*==========----------==========*/
/*           IPHONE X+          */
/*==========----------==========*/

/* iPhone X, XS */
@media only screen and (device-width: 375px) and (device-height: 812px) and (-webkit-device-pixel-ratio: 3),
	/* iPhone XR */ only screen and (device-width: 414px) and (device-height: 896px) and (-webkit-device-pixel-ratio: 2),
	/* iPhone XS Max */ only screen and (device-width: 414px) and (device-height: 896px) and (-webkit-device-pixel-ratio: 3) {
	#{$mobileNav}__item {
		padding-bottom: calc(constant(safe-area-inset-bottom) + 0.25em); /*iOS 11*/
		padding-bottom: calc(env(safe-area-inset-bottom) + 0.25em); /*iOS 11.2*/
	}
}
