/*//////////////////////////////////////////////////////*/
/*//====================----------====================//*/
/*//                  SITE NAVIGATION                 //*/
/*//====================----------====================//*/
/*//////////////////////////////////////////////////////*/

$nav: ".nav";

#{$nav} {
    @media (any-hover:hover) {
        &:hover {
            #{$nav}__a {
                opacity: .5;
            }
        }
    }

    &__ul,
    &__li {
        display: block;
        list-style: none;
        margin: 0;
        padding: 0;
    }

    &__ul {
        @include flexWrap(row, nowrap, flex-start, center);

        &--subnav {
            display: block;
            pointer-events: none;
            opacity: 0;
            visibility: hidden;
            min-width: 150px;
            padding-top: .5em;
            border-radius: $borderRadius;
            overflow: hidden;
            position: absolute;
            left: 50%;
            bottom: -1em;
            z-index: 1;
            transition: $transition;
            transform: translate(-50%, 100%);

            &Right {
                left: auto;
                right: 0;
                transform: translateY(100%);

                #{$nav}__li--subnav {
                    text-align: right;
                }
            }

            &Left {
                left: 0;
                transform: translateY(100%);

                #{$nav}__li--subnav {
                    text-align: left;
                }
            }
        }
    }

    &__a {
        opacity: 1;
        display: block;
        text-decoration: none;
        color: inherit;
        position: relative;
        z-index: 2;

        @media (any-hover:hover) {
            &:hover {
                opacity: 1 !important;
                color: $linkColor;
                text-decoration: none;
            }
        }

        &--subnav {
            opacity: 1;
            padding: 1em;
            color: inherit;

            #{$nav}__text::before {
                display: none !important;
            }

            @media (any-hover:hover) {
                &:hover {
                    color: inherit;
                }
            }
        }
    }

    &__li {
        $li: &;

        text-align: center;
        position: relative;
        transition: $transition;

        &--current {
            & > #{$nav}__a{
                opacity: 1 !important;

                #{$nav}__text::before {
                    display: block;
                }
            }
        }

        &--home {
            display: none;
        }

        &--subnav {
            background: bg-color($headerBg);
            color:text-color(bg-color($headerBg));
            transition: $transition;

            &:first-child {
                border-top-left-radius: $borderRadius;
                border-top-right-radius: $borderRadius;
            }

            &:last-child {
                border-bottom-left-radius: $borderRadius;
                border-bottom-right-radius: $borderRadius;
            }

            @media (any-hover:hover) {
                &:hover {
                    background: $linkColor;
                    color:text-color($linkColor);
                }
            }

            &#{$li}--current {
                background: $linkColor;
		color: text-color($linkColor);
            }
        }

        &--hasSubnav {
            &::before {
                @include absolute(center-horizontal);
                pointer-events: none;
                opacity: 0;
                display: block;
                content: '';
                width: 1em;
                height: 1em;
                border: .5em solid transparent;
                border-bottom-color: $linkColor;
                bottom: -1.5em;
                transition: $transition;
            }

            &Right::before {
                left: auto;
                right: 2em;
                transform: none;
            }

            &Left::before {
                left: 2em;
                transform: none;
            }

            @media (any-hover:hover){
                &:hover {
                    @include activeSubnav;
                }
            }

            &.active{
                @include activeSubnav;
            }
        }
    }

    &__text {
        display: block;
        color: inherit;
        position:relative;

        &::before {
            @include absolute(center-horizontal);
            display: none;
            opacity: 1;
            content: '';
            width: 100%;
            height: $borderThickness;
            background: text-color($headerBg);
            bottom: -.5rem;
            transition: $transition;
        }
    }

    &__expandBtn{
        @include circleBtn;
        display:none;
        width:$circleBtnDiam * .65;
        height:$circleBtnDiam * .65;
        flex-shrink:0;
        border:$borderThickness solid text-color($mobileNavBg);
        transform:none;
        transition: $transition;

        &::before{
            @include iconContent(solid, plus);
            font-size:$circleBtnDiam * .3;
        }

        &.active{
            background:text-color($mobileNavBg);
            color:$mobileNavBg;
            transform:rotate(45deg);
        }
    }

    @media (any-hover:none){
        &__parentRow {
            @include flexWrap(row, nowrap, flex-start, center);
        }

        &__expandBtn{
            display:block;
        }
    }

    /*==========----------==========*/
    /*           TOP NAV            */
    /*==========----------==========*/
    &--top {
        padding-top: .5em;
        position: relative;
        z-index: 1;

        #{$nav}__li {
            margin: 0 1em;

            &:first-child {
                margin-left: 0;
            }

            &:last-child {
                margin-right: 0;
            }

            &--subnav{
                margin:0;
            }
        }

        #{$nav}__a {
            padding: .5rem 1rem;
            font-weight: $primaryBold;
            font-size: $largeFontSize;

            &--subnav {
                padding: 1em;
                font-size: $smallFontSize;
            }
        }
    }

    /*==========----------==========*/
    /*         TOP BAR NAV          */
    /*==========----------==========*/
    &--topBar {
        #{$nav}__a {
            padding: .25em 1rem;
            font-weight: $primaryBold;
            font-size: $smallFontSize;

            &--subnav {
                padding: .5em;
                opacity: 1;
            }
        }

        #{$nav}__ul {
            &--subnav {
                min-width: 115px;
            }
        }

        #{$nav}__li {
            margin: 0 .25em;

            &:first-child {
                margin-left: 0;
            }

            &:last-child {
                margin-right: 0;
            }

            &--subnav{
                margin:0;
            }
        }
    }

    /*==========----------==========*/
    /*         FOOTER NAV           */
    /*==========----------==========*/
    &--footer {
        padding-bottom: 1em;
        margin-bottom: 2em;

        #{$nav}__ul {
            display: block;
        }

        #{$nav}__li {
            text-align: left;
        }

        #{$nav}__a {
            padding: .5em 0;
            color: inherit;


            @media (any-hover:hover) {
                &:hover {
                    color: $linkColor;
                }
            }
        }

        #{$nav}__text::before {
            width: 3rem;
            background: $lightTextColor;
            left: 0;
            bottom: -.15rem;
            transform: none;
        }
    }

    &__cats {
        @include flexWrap(row, nowrap, flex-start, flex-start);
    }

    &__catName {
        @include headingTag(h3);
        color: $medTextColor;
        transition: $transition;
    }

    &__cat {
        margin:0 4em;

        &:first-child{
            margin-left:0;
        }
        
        &:last-child{
            margin-right:0;
        }
    }

    /*==========----------==========*/
    /*      MOBILE NAV BUTTON       */
    /*==========----------==========*/
    &__button {

        /*====------ GENERAL ------====*/

        $navBtn: &;

        display: none;
        flex-shrink: 0;
        cursor: pointer;
        width: $navBtnDiam;
        height: $navBtnDiam;
        border-radius: 50%;
        background: $linkColor;
        box-shadow: $softShadow;
        position: relative;
        transition: $longTransition;

        /*-- hover --*/
        @media (any-hover:hover) {
            &:hover {
                background: lighten-or-darken($linkColor);
            }
        }

        /*-- active --*/
        &.active {
            background: text-color($mobileNavBg);
        }

        /*====------ SANDWICH BUTTON ------====*/
        &--sandwich {
            #{$navBtn}Bars {
                @include absolute(center, 2);
                width: 50%;
                height: 50%;
                max-height: 2em;
                transition: $transition;
            }

            #{$navBtn}Bar {
                display: block;
                height: $borderThickness;
                background: text-color($linkColor);
                position: absolute;
                right: 0;
                transition: $transition;

                @if ($borderRadius != 0 or $borderRadius > 0) {
                    border-radius: $borderThickness / 2;
                }

                &--1 {
                    width: 100%;
                    top: 4px;
                    transform: none;
                }

                &--2 {
                    opacity: 1;
                    width: 40%;
                    top: 50%;
                    transform: translateY(-50%);
                }

                &--3 {
                    width: 50%;
                    bottom: 4px;
                    transform: none;
                }
            }

            /*-- hover --*/
            @media (any-hover:hover) {
                &:hover {
                    #{$navBtn}Bar {
                        background: text-color(lighten-or-darken($linkColor));
                    }
                }
            }

            /*-- active --*/
            &.active {
                #{$navBtn}Bars {
                    transform: translate(-50%,-50%) rotate(135deg);
                }

                #{$navBtn}Bar {
                    background: $mobileNavBg;

                    &--1,
                    &--2,
                    &--3 {
                        width: 100%;
                    }

                    &--1 {
                        top: 50%;
                        transform: translateY(-50%);
                    }

                    &--2 {
                        opacity: 0;
                    }

                    &--3 {
                        bottom: 50%;
                        transform: translateY(50%) rotate(90deg);
                    }
                }
            }

        }
        /*====------ GRID BUTTON ------====*/
        &--grid {
            #{$navBtn}Blocks {
                @include absolute(center);
                @include flexWrap(column, nowrap, space-between, stretch);
                width: 42%;
                height: 42%;

                &Row {
                    @include flexWrap(row, nowrap, space-between, center);
                    width: 100%;
                }
            }

            #{$navBtn}Block {
                opacity: 1;
                width: 5px;
                height: 5px;
                background: text-color($linkColor);
                transition: $transition;
            }

            /*-- hover --*/
            @media (any-hover:hover) {
                &:hover {
                    #{$navBtn}Block {
                        background: text-color(lighten-or-darken($linkColor));
                    }
                }
            }

            /*-- active --*/
            &.active {
                #{$navBtn}Block {
                    background: $mobileNavBg;
                }

                #{$navBtn}BlocksRow--1 #{$navBtn}Block--2,
                #{$navBtn}BlocksRow--2 #{$navBtn}Block--1,
                #{$navBtn}BlocksRow--2 #{$navBtn}Block--3,
                #{$navBtn}BlocksRow--3 #{$navBtn}Block--2 {
                    opacity: 0;
                }
            }
        }

        /*====------ TOP BUTTON ------====*/
        &--top {
            display: none;
            width: $navBtnDiam;
            height: $navBtnDiam;
            max-width: $navBtnDiam;
            min-height: $navBtnDiam;
            max-height: $navBtnDiam;
            z-index: 101;
        }

        /*====------ BOTTOM NAV DRAWER BUTTON ------====*/
        &--drawer {
            flex: 0 1 $navBtnDiam;
            top: -.5em;
            left: -.5em;

            /*-- active drawer button --*/
            &.active {
                pointer-events: auto;
            }
        }
    }

    /*==========----------==========*/
    /*      MOBILE NAV DRAWER       */
    /*==========----------==========*/
    &--drawer {
        @include flexWrap(row, nowrap, flex-start, stretch);
        flex: 1 1 auto;
        margin-right:1em;
        transition: $longTransition;

        #{$nav}__ul {
            flex:1 1 100%;
            align-items: stretch;
        }

        #{$nav}__li {
            @include flexWrap(column, nowrap, flex-start, stretch);
            flex: 1 1 100%;
            z-index: 1;

            &--current {
                z-index: 2;

                #{$nav}__a {
                    background: text-color(lighten-or-darken($mobileNavBg));
                    box-shadow: $boxShadow;
                    color: lighten-or-darken($mobileNavBg);

                    @if ($borderRadius > 0 or $borderRadius != 0) {
                        margin-top: -$borderRadius;
                        height: calc(100% + #{$borderRadius});
                        border-radius: $borderRadius $borderRadius 0 0;
                    }
                    @else {
                        margin-top: -$thickBorderThickness;
                        height: calc(100% + #{$thickBorderThickness});
                    }

                    svg {
                        fill: lighten-or-darken($mobileNavBg);
                    }
                }

                &:first-child {
                    #{$nav}__a {
                        border-top-left-radius:0;
                    }
                }
            }
        }

        #{$nav}__a {
            @include flexWrap(column, nowrap, flex-end, center);
            flex:1 1 100%;
            width: 100%;
            padding: .5em .5em .25em .5em;
            color: text-color(lighten-or-darken($mobileNavBg));
            font-weight: $primaryBold;

            svg {
                width: 100%;
                height: 100%;
                max-width: 1.5em;
                max-height: 1.5em;
                fill: text-color(lighten-or-darken($mobileNavBg));
                transition: $longTransition;

                * {
                    fill: inherit;
                }
            }
        }

        #{$nav}__text {
            display: block;
            padding-top: .5em;
            font-size: $smallFontSize;

            &::before {
                display: none !important;
            }
        }
    }

    &__drawer {
        @include flexWrap(row, nowrap, space-between, stretch);
        display: none;
        background: lighten-or-darken($mobileNavBg);
        box-shadow: 0 ($medShadowOffset * -1) ($medShadowOffset * 4) $shadowColor;
        position: fixed;
        bottom: 0;
        left: 0;
        right: 0;
        z-index: 11;
        transition: $longTransition;

        &--empty{
            background:none;
            box-shadow:none;
            justify-content:flex-end;
        }
    }
}

/*//////////////////////////////////////////////////////*/
/*//====================----------====================//*/
/*//                   MEDIA QUERIES                  //*/
/*//====================----------====================//*/
/*//////////////////////////////////////////////////////*/

/*==========----------==========*/
/*         1900PX WIDTH         */
/*==========----------==========*/
@media only screen and (max-width:1900px) {
    $navItemPadding: 1rem;

    #{$nav} {
        &--topBar {
            #{$nav}__a {
                padding: .25rem $navItemPadding; 
            }
        }

        &--top {
            #{$nav}__li {
                margin: 0 .5em;

                &:first-child {
                    margin-left: 0;
                }

                &:last-child {
                    margin-right: 0;
                }

                &--subnav{
                    margin:0;
                }
            }
        }
    }
}

/*==========----------==========*/
/*         1400PX WIDTH         */
/*==========----------==========*/
@media only screen and (max-width:1400px) {
    #{$nav} {
        &__cat {
            margin: 0 2em;

            &:first-child{
                margin-left:0;
            }
        
            &:last-child{
                margin-right:0;
            }
        }
    }
}

/*==========----------==========*/
/*         1300PX WIDTH         */
/*==========----------==========*/

@media only screen and (max-width:1300px) {
    #{$nav} {
        &__cats {
            justify-content: space-between;
        }
    }
}

/*==========----------==========*/
/*         1100PX WIDTH         */
/*==========----------==========*/
@media only screen and (max-width:1100px) {
    #{$nav} {
        &--top {
            #{$nav}__a {
                font-size: 1em;
            }
        }
    }
}

/*==========----------==========*/
/*     $navBreakpoint WIDTH     */
/*==========----------==========*/

@media only screen and (max-width:$navBreakpoint) {
    /*======---- GENERAL ----======*/

    $navItemPadding: 2rem;

    #{$nav} {
        position: relative;
        z-index: 1;

        &__li--home,
        &__button {
            display: block;
        }

        @media (any-hover:hover) {
            &:hover {
                #{$nav}__a {
                    opacity: 1;
                }
            }
        }

        /*======---- TOP and TOP BAR NAVS ----======*/
        &--top,
        &--topBar {
            text-align: left;

            #{$nav}__ul:not(#{$nav}__ul--subnav) {
                @include flexWrap(column, nowrap, flex-start, flex-start);
            }

            #{$nav}__a {
                display: inline-block;
                color: text-color($mobileNavBg);

                @media (any-hover:hover) {
                    &:hover {
                        @include activeMobileNavItem;
                    }
                }
            }

            #{$nav}__text::before {
                display: block;
                width: 0;
                background: text-color($mobileNavBg);
                left: 0;
                transform: none;
            }

            #{$nav}__li {
                margin: .5em 0;
                opacity: 0;
                visibility: hidden;
                left: 40px;

                &,
                &--subnav{
                    text-align: inherit;
                }

                &--subnav{
                    opacity:1;
                    visibility:visible;
                    left:0;
                }

                &--current {
                    & > #{$nav}__a{
                        @include activeMobileNavItem;
                    }
                }

                &.active {
                    opacity: 1;
                    visibility: visible;
                    left: 0;
                }
            }
        }

        /*======---- TOP NAV ----======*/
        &--top {
            padding: 0;

            #{$nav}__a:not(#{$nav}__a--subnav){
                @include heading(h3);
                padding: 1.5rem $navItemPadding;
                margin:0;
                font-weight: $headingBold;
            }

            #{$nav}__expandBtn{
                width:$circleBtnDiam;
                height:$circleBtnDiam;

                &::before{
                    font-size:$circleBtnDiam * .5;
                }
            }
        }

        /*======---- TOP BAR NAV ----======*/
        &--topBar {
            margin: 0;
            position: relative;

            &::before{
                display:block;
                content:'';
                width:map-get($golden-ratio, small);
                height:$borderThickness;
                margin:$navItemPadding;
                background:$lightBorderColor;

                @if ($borderRadius != 0){
                    border-radius:$borderThickness / 2;
                }
            }

            #{$nav}__a {
                padding: .5rem $navItemPadding;
                font-size: $largeFontSize;
            }

            #{$nav}__expandBtn{
                width:$circleBtnDiam * .75;
                height:$circleBtnDiam * .75;

                &::before{
                    font-size:$circleBtnDiam * .375;
                }
            }
        }

        /*======---- SUBNAVS ----======*/

        &__ul--subnav{
            display:none;
            width:100% !important;
            padding-left: 2em !important;
            padding-top:0;
            margin:0;
            min-width:0;
            opacity:1;
            visibility:visible;
            pointer-events:auto;
            border-radius:0;
            position:relative;
            left:auto;
            bottom:auto;
            transition:none;

            &,
            &Right,
            &Left{
                transform:none;
            }
            &#{$nav}__ul--showSubnav{
                display:block;
            }

            #{$nav}__text::before{
                display:block !important;
            }
        }

        &__li{
            &--hasSubnav::before{
                display:none;
            }

            &--subnav{
                background:none;
                border-radius:0;
                margin:0;

                &#{$nav}__li--current{
                    background:none;

                    #{$nav}__a--subnav{
                        color: text-color($mobileNavBg);
                    }
                }
            }
        }

        &__expandBtn{
            display:block !important;
            margin:0 1rem 0 2rem;
        }

        /*-- Top Subnav --*/
        &--top{
            #{$nav}__a--subnav{
                @include heading(h4);
                padding:1rem $navItemPadding;
                margin:0;
                color: text-color($mobileNavBg);
                font-weight:$headingLight;
            }
        }

        /*-- Top Bar Subnav --*/
        &--topBar{
            #{$nav}__a--subnav{
                padding:.5rem $navItemPadding;
                font-size:1em;
                font-weight:$primaryFontWeight;
            }
        }
    }
}

/*==========----------==========*/
/*          700PX WIDTH         */
/*==========----------==========*/

@media only screen and (max-width:700px) {
    &__expandBtn{
        margin-left: 1rem;
    }   
}
    
/*==========----------==========*/
/*          600PX WIDTH         */
/*==========----------==========*/

@media only screen and (max-width:600px) {
    $navItemPadding: 1.5rem;

    #{$nav} {
        /*======---- TOP NAV ----======*/
        &--top {
            #{$nav}__a:not(#{$nav}__a--subnav) {
                padding: 1rem $navItemPadding;
            }
        }

        /*======---- TOP BAR NAV ----======*/
        &--topBar {
            &::before{
                margin:$navItemPadding;
            }

            #{$nav}__a {
                padding: .5rem $navItemPadding;
            }

            #{$nav}__li {
                margin: .25em 0;
            }
        }

        /*======---- SUBNAVS ----======*/

        /*-- Top Subnav --*/
        &--top{
            #{$nav}__a--subnav{
                padding:.65rem $navItemPadding;
            }
        }

        /*-- Top Bar Subnav --*/
        &--topBar{
            #{$nav}__li--subnav{
                margin:0;
            }
        }

        /*======---- FOOTER NAV ----======*/
        &__cats {
            display: block;
        }

        &__catName {
            text-align: center;
        }

        &__cat {
            margin: 2em 0;
            padding-bottom: 1em;
            border-bottom: $borderThickness solid rgba($lightTextColor, .25);

            &:first-child {
                margin-top: 0;
            }

            &:last-child {
                padding-bottom: 0;
                border-bottom: none;
            }
        }

        &--footer {
            #{$nav}__li {
                text-align: center;
            }

            #{$nav}__a {
                display: inline-block;
            }

            #{$nav}__text::before{
                @include absolute(center-horizontal);
            }
        }
    }
}

/*==============----------==============*/
/*   $typeBreakpoint3 WIDTH or HEIGHT   */
/*==============----------==============*/

@media only screen and (max-width:$typeBreakpoint3),
only screen and (max-height:$typeBreakpoint3){
    #{$nav}--top{
        #{$nav}__expandBtn{
            width:$circleBtnDiam * .75;
            height:$circleBtnDiam * .75;

            &::before{
                font-size:$circleBtnDiam * .375;
            }
        }
    }
}

/*==========----------==========*/
/*         $phone WIDTH         */
/*==========----------==========*/

@media only screen and (max-width:$phone) {
    $navItemPadding: 1.5rem;

    #{$nav} {
        &__button--top {
            display: none;
        }

        &__drawer {
            display: flex;
        }

        /*======---- TOP BAR NAV ----======*/
        &--topBar {
            &::before{
                margin:$navItemPadding;
            }

            #{$nav}__a {
                padding: .5rem $navItemPadding;
            }
        }

        /*======---- SUBNAVS ----======*/
        &__parentRow{
            justify-content:space-between;
        }
    }

    /*======---- ACTIVE NAV ----======*/

    .showMobileNav #{$nav} {
        &__drawer {
            pointer-events: none;
            background: none;
            box-shadow:none;
        }

        &--drawer {
            opacity: 0;
            visibility: hidden;
        }
    }
}

/*==========----------==========*/
/*           IPHONE X           */
/*==========----------==========*/

// iPhone X, XS
@media only screen and (device-width: 375px) and (device-height:812px) and (-webkit-device-pixel-ratio : 3),
// iPhone XR
only screen and (device-width : 414px) and (device-height : 896px) and (-webkit-device-pixel-ratio : 2),
// iPhone XS Max
only screen and (device-width : 414px) and (device-height : 896px) and (-webkit-device-pixel-ratio : 3) {
    #{$nav} {
        &--drawer {
            #{$nav}__a {
                padding-bottom: calc(1.25em + env(safe-area-inset-bottom));
            }
        }

        &__button--drawer {
            flex: 0 1 4em;
        }
    }
}