<section class="lightbox lightbox--ie lightbox--message" id="ie-lbWrapper">

    <div class="lightbox__box" id="ie-lightbox">
        <header class="lightbox__header">
            <h2 class="lightbox__heading">Whoa There</h2>
        </header>

        <div class="lightbox__content" id="ie-lbContent">
            <p class="largeText">The browser you're using is unsupported.</p>
            <p>In fact, this site won't work on it at all. <strong>The following browsers are recommended:</strong></p>

            <div class="button__wrapper button__wrapper--justifyCenter button__wrapper--imgBtns">
                <a
                    rel="nofollow noreferrer noopener"
                    href="https://www.google.com/chrome/"
                    target="_blank"
                    class="button button--image">
                    
                    <img
                        class="button__img"
                        src="/dist/media/icons/chrome-logo.png"
                        alt="Google Chrome Logo">
                    <span class="button__text">Chrome</span>
                </a>
                <a
                    rel="nofollow noreferrer noopener"
                    href="https://www.mozilla.org/en-US/firefox/new/"
                    target="_blank"
                    class="button button--image">
                    
                    <img
                        class="button__img"
                        src="/dist/media/icons/firefox-logo.png"
                        alt="Firefox Logo">
                        <span class="button__text">Firefox</span>
                </a>
                <a
                    rel="nofollow noreferrer noopener"
                    href="https://www.microsoft.com/en-us/edge"
                    target="_blank"
                    class="button button--image">
                    
                    <img
                        class="button__img"
                        src="/dist/media/icons/edge-logo.png"
                        alt="Microsoft Edge Logo">
                        <span class="button__text">Edge</span>
                </a>
            </div>
        </div>
    </div>

    <div class="lightbox__overlay"></div>
</section>