<section class="lightbox" id="lbWrapper">
    <button class="lightbox__closeBtn lightbox__closeBtn--outer closeBtn">
        <span class="closeBtn__bar closeBtn__bar--1"></span>
        <span class="closeBtn__bar closeBtn__bar--2"></span>
    </button>

    {{#unless this.isPortfolioDetailPage}}
        <a class="button button--primary lightbox__button icon icon--after icon--long-arrow-alt-right" id="lbButton">See More</a>
    {{/unless}}

    <div class="lightbox__box" id="lightbox">
        <header class="lightbox__header">
            <h2 class="lightbox__heading" id="lbHeading">
                <!-- lightbox heading gets inserted here -->
            </h2>

            <button class="lightbox__closeBtn lightbox__closeBtn--inner closeBtn">
                <span class="closeBtn__bar closeBtn__bar--1"></span>
                <span class="closeBtn__bar closeBtn__bar--2"></span>
            </button>
        </header>

        <div class="lightbox__content" id="lbContent">
            <!-- lightbox message gets inserted here -->
        </div>

        {{#if this.isPortfolioDetailPage}}
            {{{printSlides this}}}
        {{/if}}
    </div>


    {{#if this.isPortfolioDetailPage}}
        {{#if (isSlider media)}}
            {{{printSliderNav media}}}
        {{/if}}
    {{/if}}

    <div class="lightbox__overlay" id="lbOverlay">
        {{#if this.isPortfolioDetailPage}}
            {{{printBgs media}}}
        {{/if}}
    </div>
</section>