<div class="lightbox" id="lightboxWrp">
    <div class="lightbox__box" id="lightbox">
        <div class="lightbox__closeBtn closeBtn" id="closeLightbox">
            <span class="closeBtn__bar closeBtn__bar--1"></span>
            <span class="closeBtn__bar closeBtn__bar--2"></span>
        </div>

        <div class="lightbox__content" id="lightboxContent">
            <!-- lightbox message gets inserted here -->
        </div>

        <div id="lbVidWrp" class="lightbox__video">
            <!-- video source gets inserted here -->
            <iframe class="lightbox__iframe" id="lbVidFrame" width="560" height="315" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
    </div>
    <div class="lightbox__overlay" id="lightboxOverlay"></div>
</div>