
<section class="section portfolio">
    <h1 class="portfolio__heading">{{title}}</h1>

    <div class="portfolio__grid">
        {{#each items}}
            {{{printPortfolioItem this ../url}}}
        {{/each}}
    </div>
</section>